@keyframes tilt {
  0% {
    transform: scale(1.0125) skewY(1.5deg);
  }
  25% {
    transform: scale(1.025) skewY(-1.5deg);
  }
  50% {
    transform: scale(1.0125) skewY(1.5deg);
  }
  75% {
    transform: scale(1.025) skewY(-1.5deg);
  }
  100% {
    transform: scale(1) skewY(0deg);
  }
}

.blog-list{
  margin: 48px;
}

.blog-list h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
  color: #122c47;
}

.blog-container{
  max-width: 700px;
  margin: 0 auto;
  display: block;
}

.blog-preview {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 24px;
}

.blog-preview:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 5px 14px 20px;
}

.blog-preview .details{
  padding: 12px 36px;
}
.blog-preview:hover img{
  transform: scale(1.1);
}

.blog-preview img {
  transition: transform .5s;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  margin-bottom: 24px;
}

.blog-preview .title {
  margin-bottom: 24px;
  transition: color .5s;
  color: #212121;
  padding-right: 18px;
  font-size: 36px;
  font-weight: 700;
}

.blog-preview:hover .title{
  color: rgb(112, 148, 37);
}

.blog-preview .author {
  color: #212121;
  font-size: 12px;
  text-transform: uppercase;
}
.blog-preview .date {
  color: #212121;
  font-size: 14px;
}
.blog-preview .categories {
  color: #212121;
  font-size: 12px;
  text-transform: uppercase;
}
.blog-preview .description {
  color: #212121;
  font-size: 16px;
}

@media (max-width: 768px) {
  .blog-preview img{
    margin-bottom: 12px;
  }

  .blog-preview .title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .blog-list{
    margin: 24px;
  }
}

.blog-navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 240px;
  margin: 24px auto;
  font-size: 18px;
}

.blog-navigation-item.current,
.blog-navigation-item a:hover {
  font-size: 20px;
  font-weight: 700;
  color: #122c47;
}

.blog-preview .info{
  display: flex;
  flex-wrap: wrap;
  margin-bottom:6px;
}

.blog-preview .info > *{
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.blog-preview .info > * > svg{
  margin-right: 6px;
}
