.blog-post {
  width: 92%;
  margin: 24px auto;
}

.blog-post .mainImage {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 48px;
}

.blog-post .title {
  max-width: 800px;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: 0.03rem;
  font-weight: 700;
  color: #122c47;
  margin: 0 auto 24px auto;
}

.blog-post .details {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.blog-post .date {
  text-transform: capitalize;
}

.blog-post .author,
.blog-post .date {
  display: block;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog-post .author{
  text-align: right;
}

.blog-post .date{
  text-align: left;
}

.blog-post .content {
  padding: 24px 0;
}

.blog-post p {
  margin: 0 auto;
  max-width: 40em;
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 24px;
}

.blog-post img:not(.mainImage) {
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 36px auto;
}

@media (max-width: 768px) {
  .blog-post .mainImage {
    padding-top: 12px;
  }

  .blog-post .title {
    font-size: 24px;
    margin: 0 auto 0 auto;
  }
  
  .blog-post .author,
  .blog-post .date {
    font-size: 12px;
  }
  
  .blog-post .content {
    padding: 18px 0;
  }
  
  .blog-post p {
    font-size: 16px;
  }
  
  .blog-post img:not(.mainImage) {
    margin: 18px auto;
  }
}